*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}

p{
    color: #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ************************* NAVBAR START ************************ */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}


nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(5, 4, 4)
}

.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}
.col-2{
    flex-basis: 50%;
    min-width: 250px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.btn{
    display: inline-block;
    background: #ff452c;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.4s}

.btn:hover{
    background: #563434;

}

.header{
    background: radial-gradient(rgb(255, 255, 255), rgb(7, 115, 255));
}


.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* ************************************ NAVBAR ENDS *********************************************************/



/* ********************** FEATURED SECTION START  ******************************************************** */

.categories{
    margin: 70px 0;

}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}


.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* ************************** FEATURED SECTION ENDS  *********************************************************** */


/* ************************* PRODUCTS START *********************************************************** */


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    color: rgb(20, 17, 17);
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}

.title::after{
    content: "";
    background: #ff452c;
    width: 85px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    
}

.rating .fa-star{
    color: #fdcc0d;
}

.col-4:hover{
    transform: translateY(-15px);
}

/* *************************  PRODUCTS ENDS *********************************************************** */

/* ************************* OFFER SECTION  START *********************************************************** */
.offer{
    background: radial-gradient(#fff, #ac7979);
}
.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;

}
/* ************************* OFFER SECTION  ENDS*********************************************************** */

/* ************************* TESTIMONIAL SECTION  START*********************************************************** */
.testimonial{
    padding-top: 65px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}
.testimonial .col-3:hover{
   transform: translateY(-10px);
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* ************************* TESTIMONIAL SECTION  ENDS*****************************************************/


/* ************************* BRANDS SECTION  START*****************************************************/
.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0%);

}
/* ************************* BRANDS SECTION  ENDS*****************************************************/

/* ************************* FOOTER START *****************************************************/
.footer{
    background-color: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    

}

.footer p{
    color: #fff;

}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2,   .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1{
    flex-basis: 30% ;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}
    

.footer-col-2 img{
    width: 150px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;

}
ul {
    list-style-type: none;
}



.app-logo img {
    width: 140px;
    
}

.footer hr{
    border: none;
    background: #504f4f;
    height: 1px;
    margin: 20px;
}

.copy{
    text-align: center;
}




/* ************************* FOOTER ENDS *****************************************************/


/* *************************  ALL PRODUCTS  ENDS *****************************************************/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid black;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}


.page-btn span{
    display: inline-block;
    border: 1px solid #000000;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background-color: #000000;
    color: #fff;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0px 10px;
    border: 1px solid #ccc;

}

form .btn{
    width: 100%;
    border: none;
    cursor:pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
    
}
/* *************************  ALL PRODUCTS  ENDS *****************************************************/


/* *************************  ACCOUNT  START *****************************************************/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #700000);
}

.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
}

form a{
    font-size: 12px;
}


#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
    
}
/* *************************  ACCOUNT  ENDS *****************************************************/


/* *********************************MEDIA QUERY FOR MENU**************************************** */

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        background-color: #3d2c2c;
        
        
    }
    nav ul li a{
        color: #fff;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
       
    }

    

    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
}


/* ************************* MEDIA QUERY FOR LESS THAN 600 SCREEN SIZE **************** */
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}


 








